.start.backup
[{"id":"ad8758fe.3fde38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7ae7146.8b0ba8","type":"mqtt-broker","z":"","name":"Mosquitto ","broker":"192.168.0.173","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf92681.0b5a898","type":"influxdb","z":"","hostname":"192.168.0.101","port":"8086","protocol":"http","database":"ENV","name":"InfluxDB","usetls":false,"tls":""},{"id":"ea52a5e0.ffd65","type":"mqtt in","z":"ad8758fe.3fde38","name":"Mosquitto","topic":"Homie/+/+/+","qos":"0","datatype":"auto","broker":"e7ae7146.8b0ba8","x":140,"y":140,"wires":[["e929e5f6.d766b8"]]},{"id":"f6f329b4.375b28","type":"influxdb out","z":"ad8758fe.3fde38","influxdb":"cf92681.0b5a898","name":"ENV","measurement":"ENV","precision":"","retentionPolicy":"","x":690,"y":300,"wires":[]},{"id":"95308a23.d54b78","type":"debug","z":"ad8758fe.3fde38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":120,"wires":[]},{"id":"e929e5f6.d766b8","type":"function","z":"ad8758fe.3fde38","name":"","func":"\nvar  a = msg.topic.lastIndexOf('/');\nvar token = msg.topic.substr(a+1);\nvar value = parseFloat(msg.payload);\n\nmsg.payload = [{\n    value:value\n},\n{\n    tag1: \"MKR1000\",\n    tag2: \"MKRENV\",\n    tag3: token\n}];\n    \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["95308a23.d54b78","fd1baf8.70c055"]]},{"id":"fd1baf8.70c055","type":"switch","z":"ad8758fe.3fde38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"'$'","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":280,"wires":[[],["f6f329b4.375b28"]]}]