flows_raspberrypi.json
[{"id":"f5875711.1e7368","type":"tab","label":"MQTT-Influx-Grafana","disabled":false,"info":""},{"id":"24c79901.b67c0e","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"abd51a6.116da68","type":"tab","label":"Dashboard 2","disabled":false,"info":""},{"id":"b244bf3f.577118","type":"tab","label":"Test","disabled":false,"info":""},{"id":"b39f0c15.406998","type":"mqtt-broker","z":"","name":"Mosquitto ","broker":"192.168.0.159","port":"8883","tls":"1b43626c.57002e","clientid":"Ubuntu01","usetls":true,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97f18e95.aa0d2","type":"influxdb","z":"","hostname":"192.168.0.101","port":"8086","protocol":"http","database":"ENV","name":"","usetls":true,"tls":"2611adef.37acc2"},{"id":"1b43626c.57002e","type":"tls-config","z":"","name":"Mosquitto Ubuntu","cert":"","key":"","ca":"/home/pi/Documents/mqtt/mqttca.crt","certname":"","keyname":"","caname":"","servername":"gnf-ubuntu1804.gnf.com","verifyservercert":true},{"id":"2611adef.37acc2","type":"tls-config","z":"","name":"InfluxDB","cert":"/etc/ssl/influxdbca.crt","key":"/etc/ssl/influxdbca.key","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"fa9bfc71.60ee28","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#262626","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#000000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eeb95668.37cb38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"365c776.0944188","type":"ui_group","z":"","d":true,"name":"Group 1","tab":"eeb95668.37cb38","order":1,"disp":false,"width":"3","collapse":false},{"id":"5dc9fb5b.5c2614","type":"ui_group","z":"","d":true,"name":"Group 2","tab":"eeb95668.37cb38","order":2,"disp":false,"width":"3","collapse":false},{"id":"3165e72a.c4f69","type":"mqtt-broker","z":"","name":"Mosquitto Pi","broker":"192.168.0.101","port":"8883","tls":"2820f212.02bc06","clientid":"Pi01","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2820f212.02bc06","type":"tls-config","z":"","name":"Mosquitto Pi","cert":"","key":"","ca":"/etc/mosquitto/ca_certificates/mqttca.crt","certname":"","keyname":"","caname":"","servername":"raspberrypi","verifyservercert":true},{"id":"7be3c447.7f2e84","type":"ui_group","z":"","name":"Group 3","tab":"eeb95668.37cb38","order":3,"disp":false,"width":"10","collapse":false},{"id":"a1529223.4a91d","type":"influxdb out","z":"f5875711.1e7368","influxdb":"97f18e95.aa0d2","name":"Write ENV","measurement":"ENV","precision":"","retentionPolicy":"","x":690,"y":440,"wires":[]},{"id":"faa7feb5.5bb9d","type":"mqtt in","z":"f5875711.1e7368","name":"Mosquitto","topic":"Homie/+/+/+","qos":"1","datatype":"auto","broker":"b39f0c15.406998","x":100,"y":300,"wires":[[]]},{"id":"eddb06c.e138378","type":"debug","z":"f5875711.1e7368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":480,"wires":[]},{"id":"d9f75219.b7d0a","type":"function","z":"f5875711.1e7368","name":"Topic Parser","func":"var a = msg.topic.indexOf('/',6);\nvar b = msg.topic.indexOf('/',a+1);\n\nvar c = msg.payload.indexOf('@');\n\n// Debug data\nmsg.a = a;\nmsg.b = b;\nmsg,c = c;\n\nvar device = msg.topic.substring(6,a);\nvar node = msg.topic.substring(a+1,b);\nvar token = msg.topic.substring(b+1);\nvar value = parseFloat(c>0? msg.payload.substring(0,c):msg.payload);\n// La MKR1000 da el timestamp en segundos, Node-RED en milisegundos.\n// InfluxDB espera nanosegundos así que tenemos que hacer la conversión.\nvar timestamp = c>0? parseInt(msg.payload.substring(c+1))*1e9:new Date().getTime()*1e6;\n\nmsg.payload = [{\n\tvalue: value,\n\ttime: timestamp\n},\n{\n\ttag1:device,\n\ttag2:node,\n\ttag3:token\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["a1529223.4a91d","eddb06c.e138378"]]},{"id":"984d7789.fc07a8","type":"switch","z":"f5875711.1e7368","name":"Check $","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"$","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":420,"wires":[["2a109612.b2ad22"],["d9f75219.b7d0a"]]},{"id":"2a109612.b2ad22","type":"debug","z":"f5875711.1e7368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":380,"wires":[]},{"id":"472c874a.b03f2","type":"file in","z":"b244bf3f.577118","name":"Load Hello","filename":"/home/pi/Documents/PLA8/hello.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":20,"wires":[["d1ee59c6.30b95"]]},{"id":"74c696eb.56b6f8","type":"http in","z":"b244bf3f.577118","name":"Hello Req","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":130,"y":20,"wires":[["472c874a.b03f2"]]},{"id":"d1ee59c6.30b95","type":"http response","z":"b244bf3f.577118","name":"Hello Resp","statusCode":"200","headers":{},"x":550,"y":20,"wires":[]},{"id":"d914b48f.e4964","type":"debug","z":"24c79901.b67c0e","name":"Debug message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":320,"wires":[]},{"id":"db82be53.0f939","type":"mqtt out","z":"24c79901.b67c0e","name":"Relay Set","topic":"","qos":"","retain":"","broker":"3165e72a.c4f69","x":860,"y":380,"wires":[]},{"id":"df9f63e.fd433a","type":"mqtt in","z":"24c79901.b67c0e","name":"Relay Updates","topic":"Homie/MKR1000/MKRRELAY/+","qos":"0","datatype":"auto","broker":"3165e72a.c4f69","x":100,"y":380,"wires":[["1ae570b2.6113ef"]]},{"id":"1ae570b2.6113ef","type":"function","z":"24c79901.b67c0e","name":"Prepare values","func":"msg.payload = msg.payload==1? \"ON\":\"OFF\";\n","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["7a0c311c.519da8"]]},{"id":"7a0c311c.519da8","type":"switch","z":"24c79901.b67c0e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Relay01","vt":"str"},{"t":"cont","v":"Relay02","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":380,"wires":[["d72cc3d8.59b2f8"],["6966b4a1.dfc44c"]]},{"id":"6966b4a1.dfc44c","type":"ui_template","z":"24c79901.b67c0e","group":"5dc9fb5b.5c2614","name":"Bulb02","order":1,"width":3,"height":3,"format":"<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->\n<md-button id='bulb02' aria-label='bulb02'>\n    <svg version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\"\n    \t viewBox=\"0 0 511.998 511.998\" style=\"enable-background:new 0 0 511.998 511.998;\" xml:space=\"preserve\">\n    <path style=\"fill:#C7CFE2;\" d=\"M204.997,413.869v38.408c0,28.167,22.834,51.002,51.001,51.002l0,0c28.167,0,51-22.834,51-51.002\n    \tv-38.408H204.997z\"/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M239.876,452.278v-38.408h-34.878v38.408\n    \tc0,28.167,22.834,51.002,51.001,51.002c6.126,0,11.998-1.082,17.439-3.062C253.86,493.092,239.876,474.32,239.876,452.278z\"/>\n    <path id=\"status\" style=\"fill:{{msg.payload=='OFF'? '#FFFFFF':'#FFD782'}};\" d=\"M258.199,8.733c-87.864-1.189-161.42,71.333-161.42,159.206c0,35.023,11.317,67.398,30.481,93.687\n    \tc30.755,51.207,45.363,75.064,49.774,106.324c1.89,13.401,13.342,23.378,26.876,23.378h104.179c13.535,0,24.986-9.976,26.876-23.378\n    \tc4.41-31.258,19.018-55.116,49.774-106.324c19.165-26.289,30.481-58.663,30.481-93.687C415.219,80.738,345.12,9.91,258.199,8.733z\"\n    \t/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M223.537,367.948c-4.41-31.258-19.018-55.116-49.774-106.324\n    \tc-19.165-26.289-30.481-58.663-30.481-93.687c0-79.3,59.907-146.09,136.171-157.494c-6.95-1.027-14.043-1.614-21.255-1.711\n    \tc-87.864-1.189-161.42,71.333-161.42,159.206c0,35.023,11.317,67.398,30.481,93.687c30.755,51.207,45.363,75.064,49.774,106.324\n    \tc1.89,13.401,13.342,23.378,26.876,23.378h46.505C236.879,391.326,225.428,381.35,223.537,367.948z\"/>\n    <path style=\"fill:#B4BBCC;\" d=\"M327.908,413.869l-71.909-22.543l-71.909,22.543c-12.45,0-22.543,10.093-22.543,22.543\n    \tc0,12.45,10.093,22.543,22.543,22.543h143.818c12.45,0,22.543-10.093,22.543-22.543\n    \tC350.451,423.962,340.357,413.869,327.908,413.869z\"/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M208.051,436.413c0-12.45,10.093-22.543,22.543-22.543l48.657-15.254\n    \tl-23.252-7.29l-71.909,22.543c-12.45,0-22.543,10.093-22.543,22.543c0,12.45,10.093,22.543,22.543,22.543h46.505\n    \tC218.144,458.957,208.051,448.863,208.051,436.413z\"/>\n    <path style=\"fill:#C7CFE2;\" d=\"M327.908,368.783H184.09c-12.45,0-22.543,10.093-22.543,22.543l0,0\n    \tc0,12.45,10.093,22.543,22.543,22.543h143.818c12.45,0,22.543-10.093,22.543-22.543l0,0\n    \tC350.451,378.876,340.357,368.783,327.908,368.783z\"/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M208.051,391.326c0-12.45,10.093-22.543,22.543-22.543H184.09\n    \tc-12.45,0-22.543,10.093-22.543,22.543s10.093,22.543,22.543,22.543h46.505C218.144,413.869,208.051,403.777,208.051,391.326z\"/>\n    <path d=\"M377.263,257.136l-1.679,2.796c-7.916,13.178-14.754,24.56-20.606,34.752c-2.398,4.176-0.957,9.506,3.219,11.904\n    \tc1.368,0.786,2.861,1.16,4.334,1.16c3.02,0,5.957-1.572,7.57-4.38c5.767-10.043,12.563-21.356,20.432-34.455l1.482-2.468\n    \tc20.886-28.79,31.923-62.842,31.923-98.506c0-44.455-17.199-86.357-48.43-117.987c-31.2-31.601-72.82-49.336-117.192-49.937\n    \tc-22.362-0.301-44.252,3.867-65.032,12.393c-4.455,1.828-6.585,6.921-4.756,11.377c1.828,4.455,6.921,6.586,11.377,4.756\n    \tc18.594-7.629,38.177-11.375,58.175-11.089c39.762,0.538,77.057,16.431,105.019,44.751c27.987,28.346,43.401,65.897,43.401,105.735\n    \tc0,32.078-9.961,62.698-28.807,88.551C377.539,256.698,377.396,256.914,377.263,257.136z\"/>\n    <path d=\"M121.513,268.993c27.87,46.397,41.368,68.88,46.17,95.737c-8.907,5.515-14.856,15.372-14.856,26.596\n    \tc0,8.852,3.704,16.85,9.637,22.543c-5.933,5.693-9.637,13.691-9.637,22.543c0,17.238,14.025,31.263,31.263,31.263h14.221\n    \tc6.861,25.737,30.427,44.322,57.687,44.322s50.826-18.586,57.687-44.322h14.222c17.238,0,31.263-14.025,31.263-31.263\n    \tc0-8.852-3.704-16.85-9.637-22.543c5.933-5.693,9.637-13.691,9.637-22.543c0-11.226-5.95-21.085-14.861-26.6\n    \tc1.76-9.854,4.705-19.208,9.336-29.743c1.938-4.409-0.065-9.553-4.474-11.491c-4.407-1.937-9.553,0.065-11.491,4.474\n    \tc-4.892,11.129-8.206,21.484-10.243,32.098h-79.01c-4.816,0-8.72,3.904-8.72,8.72s3.904,8.72,8.72,8.72h79.481\n    \tc0.432,0,0.858,0.026,1.281,0.065c0.11,0.01,0.22,0.024,0.33,0.037c0.339,0.04,0.674,0.09,1.006,0.153\n    \tc0.085,0.016,0.171,0.03,0.256,0.049c6.248,1.327,10.952,6.882,10.952,13.519c0,7.622-6.201,13.824-13.824,13.824H184.09\n    \tc-7.622,0-13.824-6.201-13.824-13.824c0-6.637,4.704-12.194,10.953-13.519c0.084-0.017,0.169-0.031,0.252-0.048\n    \tc0.333-0.064,0.669-0.115,1.008-0.155c0.109-0.013,0.22-0.027,0.329-0.037c0.422-0.04,0.849-0.065,1.281-0.065h29.914\n    \tc4.816,0,8.72-3.904,8.72-8.72s-3.904-8.72-8.72-8.72H184.56c-5.615-29.327-20.45-54.026-48.099-100.051l-1.728-2.876\n    \tc-0.134-0.222-0.277-0.437-0.429-0.648c-18.846-25.853-28.807-56.474-28.807-88.551c0-48.394,24.046-94.315,64.324-122.836\n    \tc3.93-2.783,4.86-8.226,2.076-12.155c-2.784-3.93-8.227-4.861-12.155-2.076c-44.886,31.786-71.683,83.027-71.683,137.069\n    \tc0,35.662,11.037,69.715,31.923,98.506L121.513,268.993z M255.999,494.56c-17.678,0-33.165-11.033-39.374-26.883h78.749\n    \tC289.164,483.526,273.675,494.56,255.999,494.56z M184.09,422.589h143.818c7.622,0,13.824,6.201,13.824,13.824\n    \tc0,7.622-6.201,13.824-13.824,13.824H184.09c-7.622,0-13.824-6.201-13.824-13.824C170.266,428.79,176.468,422.589,184.09,422.589z\"\n    \t/>\n    \n    </svg>\n</md-button>\n\n<script>\n\n    myScope2 = scope;\n\n    $(document).ready(function() {\n        var bulb2 = $(\"#bulb02\");\n        bulb2.status = \"OFF\";\n    \n        $(\"#bulb02\").click(function() {\n            bulb2.status = bulb2.status==\"OFF\"?\"ON\":\"OFF\";\n            myScope2.send({payload:bulb2.status,topic:\"Homie/MKR1000/MKRRELAY/Relay02/Set\"});       \n        });\n    });\n</script>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":660,"y":420,"wires":[["db82be53.0f939"]]},{"id":"d72cc3d8.59b2f8","type":"ui_template","z":"24c79901.b67c0e","group":"365c776.0944188","name":"Bulb01","order":1,"width":3,"height":3,"format":"<?xml version=\"1.0\" encoding=\"iso-8859-1\"?>\n<md-button id='bulb01' aria-label='bulb01'>\n    <svg version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\"\n    \t viewBox=\"0 0 511.998 511.998\" style=\"enable-background:new 0 0 511.998 511.998;\" xml:space=\"preserve\">\n    <path style=\"fill:#C7CFE2;\" d=\"M204.997,413.869v38.408c0,28.167,22.834,51.002,51.001,51.002l0,0c28.167,0,51-22.834,51-51.002\n    \tv-38.408H204.997z\"/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M239.876,452.278v-38.408h-34.878v38.408\n    \tc0,28.167,22.834,51.002,51.001,51.002c6.126,0,11.998-1.082,17.439-3.062C253.86,493.092,239.876,474.32,239.876,452.278z\"/>\n    <path id=\"status\" style=\"fill:{{msg.payload=='OFF'? '#FFFFFF':'#FFD782'}};\" d=\"M258.199,8.733c-87.864-1.189-161.42,71.333-161.42,159.206c0,35.023,11.317,67.398,30.481,93.687\n    \tc30.755,51.207,45.363,75.064,49.774,106.324c1.89,13.401,13.342,23.378,26.876,23.378h104.179c13.535,0,24.986-9.976,26.876-23.378\n    \tc4.41-31.258,19.018-55.116,49.774-106.324c19.165-26.289,30.481-58.663,30.481-93.687C415.219,80.738,345.12,9.91,258.199,8.733z\"\n    \t/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M223.537,367.948c-4.41-31.258-19.018-55.116-49.774-106.324\n    \tc-19.165-26.289-30.481-58.663-30.481-93.687c0-79.3,59.907-146.09,136.171-157.494c-6.95-1.027-14.043-1.614-21.255-1.711\n    \tc-87.864-1.189-161.42,71.333-161.42,159.206c0,35.023,11.317,67.398,30.481,93.687c30.755,51.207,45.363,75.064,49.774,106.324\n    \tc1.89,13.401,13.342,23.378,26.876,23.378h46.505C236.879,391.326,225.428,381.35,223.537,367.948z\"/>\n    <path style=\"fill:#B4BBCC;\" d=\"M327.908,413.869l-71.909-22.543l-71.909,22.543c-12.45,0-22.543,10.093-22.543,22.543\n    \tc0,12.45,10.093,22.543,22.543,22.543h143.818c12.45,0,22.543-10.093,22.543-22.543\n    \tC350.451,423.962,340.357,413.869,327.908,413.869z\"/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M208.051,436.413c0-12.45,10.093-22.543,22.543-22.543l48.657-15.254\n    \tl-23.252-7.29l-71.909,22.543c-12.45,0-22.543,10.093-22.543,22.543c0,12.45,10.093,22.543,22.543,22.543h46.505\n    \tC218.144,458.957,208.051,448.863,208.051,436.413z\"/>\n    <path style=\"fill:#C7CFE2;\" d=\"M327.908,368.783H184.09c-12.45,0-22.543,10.093-22.543,22.543l0,0\n    \tc0,12.45,10.093,22.543,22.543,22.543h143.818c12.45,0,22.543-10.093,22.543-22.543l0,0\n    \tC350.451,378.876,340.357,368.783,327.908,368.783z\"/>\n    <path style=\"opacity:0.1;enable-background:new    ;\" d=\"M208.051,391.326c0-12.45,10.093-22.543,22.543-22.543H184.09\n    \tc-12.45,0-22.543,10.093-22.543,22.543s10.093,22.543,22.543,22.543h46.505C218.144,413.869,208.051,403.777,208.051,391.326z\"/>\n    <path d=\"M377.263,257.136l-1.679,2.796c-7.916,13.178-14.754,24.56-20.606,34.752c-2.398,4.176-0.957,9.506,3.219,11.904\n    \tc1.368,0.786,2.861,1.16,4.334,1.16c3.02,0,5.957-1.572,7.57-4.38c5.767-10.043,12.563-21.356,20.432-34.455l1.482-2.468\n    \tc20.886-28.79,31.923-62.842,31.923-98.506c0-44.455-17.199-86.357-48.43-117.987c-31.2-31.601-72.82-49.336-117.192-49.937\n    \tc-22.362-0.301-44.252,3.867-65.032,12.393c-4.455,1.828-6.585,6.921-4.756,11.377c1.828,4.455,6.921,6.586,11.377,4.756\n    \tc18.594-7.629,38.177-11.375,58.175-11.089c39.762,0.538,77.057,16.431,105.019,44.751c27.987,28.346,43.401,65.897,43.401,105.735\n    \tc0,32.078-9.961,62.698-28.807,88.551C377.539,256.698,377.396,256.914,377.263,257.136z\"/>\n    <path d=\"M121.513,268.993c27.87,46.397,41.368,68.88,46.17,95.737c-8.907,5.515-14.856,15.372-14.856,26.596\n    \tc0,8.852,3.704,16.85,9.637,22.543c-5.933,5.693-9.637,13.691-9.637,22.543c0,17.238,14.025,31.263,31.263,31.263h14.221\n    \tc6.861,25.737,30.427,44.322,57.687,44.322s50.826-18.586,57.687-44.322h14.222c17.238,0,31.263-14.025,31.263-31.263\n    \tc0-8.852-3.704-16.85-9.637-22.543c5.933-5.693,9.637-13.691,9.637-22.543c0-11.226-5.95-21.085-14.861-26.6\n    \tc1.76-9.854,4.705-19.208,9.336-29.743c1.938-4.409-0.065-9.553-4.474-11.491c-4.407-1.937-9.553,0.065-11.491,4.474\n    \tc-4.892,11.129-8.206,21.484-10.243,32.098h-79.01c-4.816,0-8.72,3.904-8.72,8.72s3.904,8.72,8.72,8.72h79.481\n    \tc0.432,0,0.858,0.026,1.281,0.065c0.11,0.01,0.22,0.024,0.33,0.037c0.339,0.04,0.674,0.09,1.006,0.153\n    \tc0.085,0.016,0.171,0.03,0.256,0.049c6.248,1.327,10.952,6.882,10.952,13.519c0,7.622-6.201,13.824-13.824,13.824H184.09\n    \tc-7.622,0-13.824-6.201-13.824-13.824c0-6.637,4.704-12.194,10.953-13.519c0.084-0.017,0.169-0.031,0.252-0.048\n    \tc0.333-0.064,0.669-0.115,1.008-0.155c0.109-0.013,0.22-0.027,0.329-0.037c0.422-0.04,0.849-0.065,1.281-0.065h29.914\n    \tc4.816,0,8.72-3.904,8.72-8.72s-3.904-8.72-8.72-8.72H184.56c-5.615-29.327-20.45-54.026-48.099-100.051l-1.728-2.876\n    \tc-0.134-0.222-0.277-0.437-0.429-0.648c-18.846-25.853-28.807-56.474-28.807-88.551c0-48.394,24.046-94.315,64.324-122.836\n    \tc3.93-2.783,4.86-8.226,2.076-12.155c-2.784-3.93-8.227-4.861-12.155-2.076c-44.886,31.786-71.683,83.027-71.683,137.069\n    \tc0,35.662,11.037,69.715,31.923,98.506L121.513,268.993z M255.999,494.56c-17.678,0-33.165-11.033-39.374-26.883h78.749\n    \tC289.164,483.526,273.675,494.56,255.999,494.56z M184.09,422.589h143.818c7.622,0,13.824,6.201,13.824,13.824\n    \tc0,7.622-6.201,13.824-13.824,13.824H184.09c-7.622,0-13.824-6.201-13.824-13.824C170.266,428.79,176.468,422.589,184.09,422.589z\"\n    \t/>\n    </svg>\n</md-button>\n\n<script>\n\n    myScope1 = scope;\n    \n    $(document).ready(function() {\n        var bulb1 = $(\"#bulb01\");\n        bulb1.status = \"OFF\";\n    \n        $(\"#bulb01\").click(function() {\n            bulb1.status = bulb1.status==\"OFF\"?\"ON\":\"OFF\";\n            myScope1.send({\n                payload:bulb1.status,\n                topic:\"Homie/MKR1000/MKRRELAY/Relay01/Set\"\n            });       \n        });\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":340,"wires":[["db82be53.0f939","d914b48f.e4964"]]},{"id":"f726a682.304ed8","type":"function","z":"f5875711.1e7368","name":"Test Record","func":"\nmsg.payload = [{\n\tvalue: 51\n},\n{\n\ttag1:\"GNF\",\n\ttag2:\"TEST\",\n\ttag3:\"age\"\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[[]]},{"id":"b67453ab.fa90f","type":"inject","z":"f5875711.1e7368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":560,"wires":[["f726a682.304ed8"]]},{"id":"999ab39.4cbbd5","type":"mqtt in","z":"f5875711.1e7368","name":"Mosquitto Pi","topic":"Homie/+/+/+","qos":"1","datatype":"auto","broker":"3165e72a.c4f69","x":110,"y":420,"wires":[["984d7789.fc07a8"]]},{"id":"c87b8ffe.92a67","type":"ui_template","z":"abd51a6.116da68","group":"7be3c447.7f2e84","name":"Water Heater","order":1,"width":"0","height":"0","format":"<svg transform=\"translate(10,0)\" viewBox=\"-88 0 511 511.95587\" xmlns=\"http://www.w3.org/2000/svg\" width=\"511\" height=\"511\">\n\t<style>\n    \t\t.temp { font: bold 30px sans-serif; }\n\t</style>\n\t<path d=\"m132.890625 475.851562v27.277344c-.011719 4.867188-3.957031 8.8125-8.828125 8.828125h-35.308594c-4.871094-.015625-8.8125-3.960937-8.828125-8.828125v-31.339844zm0 0\" fill=\"#bdc3c7\"/>\n\t<path d=\"m256.476562 471.789062v31.339844c-.011718 4.867188-3.957031 8.8125-8.828124 8.828125h-35.308594c-4.871094-.015625-8.8125-3.960937-8.828125-8.828125v-27.277344zm0 0\" fill=\"#bdc3c7\"/>\n\t<path d=\"m335.925781 31.734375v413.132813c.011719 8.472656-5.984375 15.765624-14.300781 17.390624-101.386719 19.15625-205.460938 19.15625-306.847656 0-8.316406-1.625-14.3125-8.917968-14.300782-17.390624v-413.132813c-.011718-8.472656 5.984376-15.765625 14.300782-17.390625 18.714844-3.53125 37.429687-6.441406 56.320312-8.648438v144.328126c0 53.628906 43.476563 97.105468 97.105469 97.105468s97.101563-43.476562 97.101563-97.105468v-144.328126c18.890624 2.207032 37.605468 5.117188 56.320312 8.648438 8.316406 1.625 14.3125 8.917969 14.300781 17.390625zm0 0\" fill=\"#e6e7e8\"/>\n\t<path d=\"m265.304688 5.695312v144.328126c0 53.628906-43.472657 97.105468-97.101563 97.105468s-97.105469-43.476562-97.105469-97.105468v-144.328126c64.515625-7.59375 129.695313-7.59375 194.207032 0zm0 0\" fill=\"#bdc3c7\"/>\n\t<path id=\"pump\" d=\"m229.996094 150.023438c0 34.128906-27.667969 61.792968-61.792969 61.792968-34.128906 0-61.792969-27.664062-61.792969-61.792968 0-34.125 27.664063-61.792969 61.792969-61.792969 34.125 0 61.792969 27.667969 61.792969 61.792969zm0 0\" fill=\"#b0d3f0\"/>\n\t<path d=\"m168.203125 220.644531c-39.003906 0-70.621094-31.617187-70.621094-70.621093 0-39 31.617188-70.621094 70.621094-70.621094 39 0 70.621094 31.621094 70.621094 70.621094-.046875 38.984374-31.636719 70.578124-70.621094 70.621093zm0-123.585937c-29.253906 0-52.964844 23.714844-52.964844 52.964844 0 29.253906 23.710938 52.96875 52.964844 52.96875 29.25 0 52.964844-23.714844 52.964844-52.96875-.03125-29.238282-23.726563-52.933594-52.964844-52.964844zm0 0\" fill=\"#95a5a5\"/>\n\t<path id=\"pointer\" transform=\"rotate(90,168,158)\" d=\"m168.191406 158.851562c-3.253906-.003906-6.242187-1.796874-7.773437-4.664062-1.535157-2.871094-1.367188-6.351562.441406-9.058594l17.652344-26.484375c1.738281-2.65625 4.765625-4.175781 7.933593-3.980469 3.164063.195313 5.984376 2.074219 7.382813 4.921876 1.398437 2.847656 1.15625 6.230468-.625 8.851562l-17.65625 26.484375c-1.636719 2.460937-4.398437 3.933594-7.355469 3.929687zm0 0\" fill=\"#cc4b4c\"/>\n\t<path transform=\"translate(0,-30)\" d=\"m124.0625 291.265625h88.277344c4.875 0 8.828125 3.953125 8.828125 8.828125v35.308594c0 4.878906-3.953125 8.828125-8.828125 8.828125h-88.277344c-4.875 0-8.824219-3.949219-8.824219-8.828125v-35.308594c0-4.875 3.949219-8.828125 8.824219-8.828125zm0 0\" fill=\"#7ed09e\"/>\n\t<path transform=\"translate(0,30)\" d=\"m124.0625 291.265625h88.277344c4.875 0 8.828125 3.953125 8.828125 8.828125v35.308594c0 4.878906-3.953125 8.828125-8.828125 8.828125h-88.277344c-4.875 0-8.824219-3.949219-8.824219-8.828125v-35.308594c0-4.875 3.949219-8.828125 8.824219-8.828125zm0 0\" fill=\"#7ed09e\"/>\n\t<path d=\"m35.789062 291.265625c-4.875 0-8.828124-3.953125-8.828124-8.828125v-8.828125c0-4.875 3.953124-8.824219 8.828124-8.824219s8.828126 3.949219 8.828126 8.824219v8.828125c0 4.875-3.953126 8.828125-8.828126 8.828125zm0 0\" fill=\"#fff\"/>\n\t<path d=\"m35.789062 432.507812c-4.875 0-8.828124-3.953124-8.828124-8.828124v-105.929688c0-4.875 3.953124-8.828125 8.828124-8.828125s8.828126 3.953125 8.828126 8.828125v105.929688c0 4.875-3.953126 8.828124-8.828126 8.828124zm0 0\" fill=\"#fff\"/>\n\t<text id=\"temp\" x=\"120\" y=\"300\" class=\"temp\" fill=\"red\">--.-º</text> \n\t<text id=\"thermo\" x=\"150\" y=\"360\" class=\"temp\" fill=\"red\">--º</text> \n    <circle id=\"manual\" cx=\"170\" cy=\"415\" r=\"30\" stroke=\"#101010\" stroke-width=\"2\" fill=\"#e0e0e0\" />\t<g id=\"lights\" transform=\"translate(0,20)\" fill=\"{{manual.status=='OFF'? '#606060':'#FF0000'}}\">\n\t\t<path d=\"m115.238281 388.371094h-17.65625c-4.875 0-8.828125-3.953125-8.828125-8.828125s3.953125-8.828125 8.828125-8.828125h17.65625c4.875 0 8.824219 3.953125 8.824219 8.828125s-3.949219 8.828125-8.824219 8.828125zm0 0\"/>\n\t\t<path d=\"m115.238281 423.679688h-17.65625c-4.875 0-8.828125-3.953126-8.828125-8.828126s3.953125-8.828124 8.828125-8.828124h17.65625c4.875 0 8.824219 3.953124 8.824219 8.828124s-3.949219 8.828126-8.824219 8.828126zm0 0\"/>\n\t\t<path d=\"m238.824219 388.371094h-17.65625c-4.875 0-8.828125-3.953125-8.828125-8.828125s3.953125-8.828125 8.828125-8.828125h17.65625c4.875 0 8.824219 3.953125 8.824219 8.828125s-3.949219 8.828125-8.824219 8.828125zm0 0\"/>\n\t\t<path d=\"m238.824219 423.679688h-17.65625c-4.875 0-8.828125-3.953126-8.828125-8.828126s3.953125-8.828124 8.828125-8.828124h17.65625c4.875 0 8.824219 3.953124 8.824219 8.828124s-3.949219 8.828126-8.824219 8.828126zm0 0\"/>\n\t</g>\n</svg>\n\n<script>\n\n    var myScope = scope;\n\n    $(document).ready(function() {\n        var temp = $(\"#temp\");\n        temp.value = \"--.--\";\n        var thermo = $(\"#thermo\");\n        thermo.value = \"--\";\n        var manual = $(\"#manual\");\n        manual.status = \"OFF\";\n        var pump = $(\"#pump\");\n        pump.status = \"OFF\";\n        \n        myScope.$watch(\"msg\",function(msg) {\n            if (msg) {\n                if (msg.topic.includes('Temperature')) {\n                    temp.text(formatTemp(msg.payload));\n                }\n                \n                if (msg.topic.includes('Thermostat')) {\n                    thermo.text(formatTemp(msg.payload));\n                }\n\n                if (msg.topic.includes('Relay01')) {\n                    console.log(\"Relay01\");\n                    lights.status = msg.payload==\"1\"? \"ON\":\"OFF\";\n                    var pilot = $(\"#lights\");\n                    pilot[0].attributes[\"fill\"].nodeValue = \n                        lights.status==\"OFF\"? \"#606060\":\"#ff0000\";\n                }\n                \n                if (msg.topic.includes('Relay02')) {\n                    console.log(\"Relay02\");\n                    manual.status = msg.payload==\"1\"? \"ON\":\"OFF\";\n                    var pilot = $(\"#pointer\");\n                    pilot[0].attributes[\"transform\"].nodeValue=\n                        \"rotate(\"+(manual.status==\"OFF\"? 0:90)+\",168,152)\"; \n                }\n            }\n        });\n        \n        pump.click(function() {\n            pump.status = pump.status==\"OFF\"? \"ON\":\"OFF\";\n            myScope.send({\n                payload:pump.status,\n                topic:\"Homie/MKR1000/MKRRELAY/Relay02/Set\"\n            });       \n        });\n\n        manual.click(function() {\n            manual.status = manual.status==\"OFF\"? \"ON\":\"OFF\";\n            myScope.send({\n                payload:manual.status,\n                topic:\"Homie/MKR1000/MKRRELAY/Relay01/Set\"\n            });       \n        });\n    });\n    \n    function formatTemp(temp) {\n        var t = parseFloat(temp);\n        return t.toFixed(1)+\"º\";\n    }\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":390,"y":180,"wires":[["2ae90dc1.4f74d2"]]},{"id":"24922e04.320fca","type":"mqtt in","z":"abd51a6.116da68","name":"Mosquitto Pi","topic":"Homie/MKR1000/+/+","qos":"0","datatype":"auto","broker":"3165e72a.c4f69","x":170,"y":180,"wires":[["c87b8ffe.92a67","753c4f0c.551fc"]]},{"id":"753c4f0c.551fc","type":"debug","z":"abd51a6.116da68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":240,"wires":[]},{"id":"2ae90dc1.4f74d2","type":"mqtt out","z":"abd51a6.116da68","name":"Relay Set","topic":"","qos":"","retain":"","broker":"3165e72a.c4f69","x":600,"y":180,"wires":[]}]